### OSX ###
*.DS_Store
.AppleDouble

# Swift Package Manager
#
# Add this line if you want to avoid checking in source code from Swift Package Manager dependencies.
# Packages/
.build/
Package.resolved

# Crashers temprary files
Tests/outputs/
build
cmake
cmark
icu
indexstore-db
llbuild
llvm-project
ninja
sourcekit-lsp
swift
swift-argument-parser
swift-asn1
swift-atomics
swift-certificates
swift-collections
swift-corelibs-foundation
swift-corelibs-libdispatch
swift-corelibs-xctest
swift-crypto
swift-docc
swift-docc-render-artifact
swift-docc-symbolkit
swift-driver
swift-experimental-string-processing
swift-format
swift-installer-scripts
swift-integration-tests
swift-llvm-bindings
swift-lmdb
swift-markdown
swift-nio
swift-nio-ssl
swift-numerics
swift-stress-tester
swift-syntax
swift-system
swift-tools-support-core
swift-xcode-playground-support
swiftpm
yams
